/* public/style.css */

body {
    /* font-family: Arial, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 80px;
    color: White;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(17 22 29);
    border-bottom: 1px solid rgb(31 42 57);
    gap: 100px;
}
#room-container {
    margin-top: 20px;
}

#room-id-container {
    margin-top: 20px;
}

#error-message {
    color: red;
    font-size: 14px;
    display: none;
}

/* Popup styling */
#join-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: rgb(17 22 29);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    color: white;
  }

  #joinRoomId{
    background-color: rgb(54 86 123);
    outline: none;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    font-size: 15px;
  }

#joinRoom {
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: antiquewhite;
    cursor: pointer;
}

#closePopup {
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: antiquewhite;
    margin-top:15px;
    width: 60px;
    cursor: pointer;
}

#createRoomPopup {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#logo {
    margin-left: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.creatJoinBtn {
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
#create{
    width: 100px;
    height: 50px;
    background-color: yellow;
    outline: none;
    border: none;
    border-radius: 10px;
}

#join{
    width: 100px;
    height: 50px;
    background-color: rgb(48, 48, 48);
    outline: none;
    border: none;
    border-radius: 10px;
    color: white;
}

.mainContainder{
    /* border: 1px solid red; */
    height: calc(100vh - 80px);
    display: flex;
}

.peopleAndChat {
    width: 500px;
    height: 100%;
    border-right: 1px solid rgb(31 42 57);
    background-color: rgb(17 22 29);
}

.twikVideoAndChat{
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(31 42 57);
    color: wheat;
}

#videocalls {
    height: 100%;
    width: 30px;
    display: flex;
    background-color: rgba(117, 117, 117, 0.342);
    align-items: center;
    justify-content: center;
}

#chats {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#displayvideocalls {
    /* border: 1px solid red; */
    width: 100%;
    height: calc(100% - 33px);
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 22px;
}

.individualsVideo {
    border: 1px solid yellow;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.individualsVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#videoPlayer {
    width: 100%;
}

#adminVideo {
    width: 100%;
    height: 100%;
}

.participantVideo {
    width: 100%;
    height: 100%;
}

#video-container{
    /* border: 1px solid blue; */
    box-sizing: border-box;
    padding: 0px 10px;
    background-color: rgb(17 22 29);
    height: 100%;
    width: calc(100% - 500px);
    justify-self: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    position: relative;
}

#video{
    width: 100%;
    height: 90%;
    position: relative;
    /* border: 1px solid blue; */
}

#searchbar {
    width: 96%;
    height: 40px;
    min-height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgb(17 22 29);
    color: white;
    padding-left: 10px;
    outline: none;
    font-size: 15px;
    z-index: 99;

}
#suggestions {
    list-style-type: none;
    width: 96%;
    margin: 0;
    padding: 0;
    background-color: rgb(24 30 40);
    color: white;
    /* border: 1px solid grey; */
    border-radius: 5px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
    position: absolute;
    top: 65px;
  }

  #suggestions::-webkit-scrollbar {
    display: none;
}
  
#suggestions li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    /* align-items: center; */
    gap: 10px;
  }

.video-title {
    margin-top: 10px;
  }
  
#suggestions li:hover {
    background-color: rgb(30 39 51);
  }

#custom-controls {
    position: absolute;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: calc(100% - 10px);
    height: 60px;
    text-align: left;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

#videoBar {
    width: 90%;
}

#setting {
    list-style: none;
    font-size: 10px;
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #000000;
    justify-content: center;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    border: 1px solid grey;
}

#setting > li {
    padding: 10px;
    width: 118px;
    list-style: none;
    text-align: center;
}

#setting > li:hover {
    background-color: #303030;
}

li:hover #setting {
    display: flex;
    opacity: 1;
    visibility: visible;
    bottom: 0px;
    right: 0;
}

.fa-gear {
    position: relative;
}

.fa-gear:hover #setting {
    display: flex;
    opacity: 1;
    visibility: visible;
    bottom: 0px;
    right: 0;
    -webkit-transition: all .5s, background, 2s .5s linear;
    transition: all .5s, background 2s .5s linear;
}

.fa-volume-high {
    position: relative;
}

#volumeBar {
    position: absolute;
    transform: rotate(90deg);
    right: -55px;
    bottom: 72px;
    opacity: 0;
    visibility: hidden;
}

.fa-volume-high:hover #volumeBar{
    opacity: 1;
    visibility: visible;
}

#Quality {
    position: relative;
}

#quality-menu {
    position: absolute;
    left: -393px;
    top: -33px;
    font-size: 12px;
    border: 1px solid grey;
    list-style: none;
    list-style-type: none;
    padding-left: 0px;
    background-color: black;
    opacity: 0;
}

#quality-menu > li {
    padding: 10px;
}
#quality-menu > li:hover {
    background-color: #303030;
}

#Quality:hover #quality-menu {
    opacity: 1;
}

#playbackSpeed {
    position: relative;
}

#playbackSpeed-menu {
    list-style: none;
    padding-left: 0px;
    border: 1px solid grey;
    position: absolute;
    background-color: black;
    left: -52px;
    bottom: 0;
    opacity: 0;
}

#playbackSpeed-menu > * {
    padding: 10px;

}
#playbackSpeed-menu > *:hover {
    background-color: #303030;
}

#playbackSpeed:hover #playbackSpeed-menu{
    opacity: 1;
}
